<link rel="stylesheet" href="../static/main.css">
{% for todo in todos %}
<tr>
    <td class="checksize">
        <input type="checkbox" name="selected_todo_ids" value="{{ todo.id }}" />
    </td>
    <td>{{ todo.content }}</td>
    <td>{{ todo.due }}</td>
    <td>{{ todo.timestamp }}</td>
    <td>
        <a href="/todos/{{ todo.id }}/edit">Edit</a>
        <a href="/todos/{{ todo.id }}">View</a>
        <a
            href="#"
            hx-swap="outerHTML swap:1s"
            hx-delete="/todos/{{ todo.id }}"
            hx-confirm="Are you sure you want to delete this TODO?"
            hx-target="closest tr">
            Delete
        </a>
    </td>
</tr>
{% endfor %}
