<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='main.css') }}" />
        <script src="{{ url_for('static', filename='modules/htmx.min.js') }}"></script>
        <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
        <title>{% block title %}{% endblock %} - TODO.app</title>
    </head>
    {% block navbar %}{% endblock %}
    <body hx-boost="true">
        {% block content %} {% with messages =
        get_flashed_messages(with_categories=true) %} {% if messages %} {% for
        category, message in messages %} {% if category == 'error' %}
        <div role="alert" _="on click remove me">
            {{ message }}
            <button type="button" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% else %}
        <div role="alert" _="on click remove me">
            {{ message }}
            <button type="button" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %} {% endfor %} {% endif %} {% endwith %} {% block app_content
        %}{% endblock %} {% endblock %}
    </body>
</html>
